@font-face {
  font-family: 'EpilepsySans';
  src:
    url('@/assets/fonts/EpilepsySans.ttf') format('truetype');
}

html, body {
  font-family: 'EpilepsySans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}


